{% extends 'index.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Books List</title>
</head>
<body>
{% block content %}
    {% load static %}
    <form method="get" name="search_books">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="search">
    </form>

    {% for book in object_list %}
        {{ book.title }}
        {{ book.author }}    <br>
        DATE {{ book.date_published }}
        {{ book.ISBN }}
        {{ book.cover_url }}
        {{ book.language }}
        <br>
        <br>
    {% endfor %}

{% endblock content %}
</body>
