{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Add book</title>
</head>
{% block content %}
    <div class="container-fluid main-container">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-6">
                    {{ form|crispy }}
                    <input type="submit" value="save" class="btn btn-primary">
                </div>
            </div>
        </form>
    </div>
{% endblock content %}