{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}
<head>
    <meta charset="UTF-8">
    <title>Books List</title>
</head>
<body>
{% block content %}
    {% load static %}
    <form method="get" name="search_books" class="uniForm">
        {% csrf_token %}
        <div class="row">
      <div class="col-6">
        {{ form|crispy }}
      </div>
      </div>
        <input type="submit" value="search" class="btn btn-default">
    </form>

    {% for book in object_list %}
        {{ book.title }}
        {{ book.author }}    <br>
        DATE {{ book.date_published }}
        {{ book.ISBN }}
        {{ book.cover_url }}
        {{ book.language }}
        <br>
        <br>
    {% endfor %}

{% endblock content %}
</body>
