{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Books List</title>
</head>
{% block content %}
    {% load static %}

        <form method="get" name="search_books" novalidate>
            {% csrf_token %}
            <div class="row">
          <div class="col-6">
            {{ form|crispy }}
          </div>
          </div>
            <input type="submit" value="search" class="btn btn-primary">
        </form>
    <ul class="list-group">
    {% for book in object_list %}
        <li class="list-group-item">

            <ul class="list-group list-group-horizontal-md">
                <li class="list-group-item active">Title: {{ book.title }}</li>
                <li class="list-group-item">Author: {{ book.author }}</li>
                <li class="list-group-item">Date published: {{ book.date_published }}</li>
                <li class="list-group-item">ISBN: {{ book.ISBN }}</li>
                <li class="list-group-item">Language: {{ book.language }}</li>
                <li class="list-group-item"><img src="{{ book.cover_url }}" alt="no cover"></li>
            </ul>
        </li>
    {% endfor %}
    </ul>
{% endblock content %}
